{% extends 'item_template.html' %}

{% block operation %}

    {% if user.uid == item.buid %}

    <form action="/market/item/" method="post" class="signin-form">
        <input type="hidden" name="item" id="iid" value="{{ item.iid }}">
        <div class="form-group">
            <input type="number" class="form-control" placeholder="原价格:{{ item.price }}" name='price' id="price" required>
        </div>
        <div class="form-group">
            <button class="form-control btn btn-primary submit px-1" onclick="sell()">出售(更新挂牌价)</button>
        </div>
    </form>

    {% endif %}

    <script type="text/javascript">
    function sell(iid) {
        var iid = $("#iid").val();
        var price = $("#price").val();

        $.ajax({
        url: '/market/item/',
        type: 'GET',
        data: {
            'item': iid,
            'price':price,
        },
        success: function () {
            window.location.reload();
        }
        });
    }
    </script>

<p class="w-100 text-center">&mdash; 购买/回收 &mdash;</p>

<div class="social d-flex text-center">

    {% if item.state == 'onsale' and user.uid != item.buid %}
    <a class="px-2 py-2 mr-md-1 rounded" href="/market/item?f=buy&item={{ item.iid }}">购买</a>
    {% endif %}

    {% if item.state == 'onsale' and user.uid == item.buid %}
    <a class="px-2 py-2 mr-md-1 rounded" href="/market/item?f=retrieve&item={{ item.iid }}">回收</a>
    {% endif %}

</div>

{% endblock %}