<!doctype html>
<html lang="en">

<head>
	<title>宝物</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<script src="/static/index_assets/vendor/jquery/jquery.min.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="/static/user_assets/css/style.css">

</head>

<header id="header" class="fixed-top">
	<div class="container d-flex align-items-center">
		<h1 class="logo mr-auto" ><a href="/home" id="back" style="color: white;">主页</a></h1>
		<!-- <script>
            document.getElementById("back").onclick = function () {
                self.location = document.referrer;
            }
        </script> -->
	</div>
</header>

<body class="img js-fullheight" style="background-image: url(/static/home_assets/img/bg.png);">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h3 class="heading-section">宝物名称:</h3>
					<h4 style="color: aqua;">{{ item.name }}</h4>
					<h5 style="color: white;">星级: {{ item.grade }}</h5>
					<h5 style="color: white;">功能: 工作效率+{{ item.work_efficiency }} | 幸运值+{{ item.lucky_value }}</h5>
					<p class="w-100 text-center" style="color: white;"> 介绍：{{ item.info }} </p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">

						{% block operation %}

						{% endblock %}

						<p style="color: red;" align="center">{{ warning }}</p>

					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="/static/user_assets/js/jquery.min.js"></script>
	<script src="/static/user_assets/js/popper.js"></script>
	<script src="/static/user_assets/js/bootstrap.min.js"></script>
	<script src="/static/user_assets/js/main.js"></script>

</body>

</html>