{% extends 'item_template.html' %}

{% block operation %}

{% if again %}

<button id="hunt" class="form-control btn btn-primary submit px-1" onclick="again()">再寻一次</button>
<!-- 简化，使用刷新当作hunt -->
<script>
    document.getElementById("hunt").onclick = function () {
        window.location.reload()
    }
</script>

{% endif %}

<p class="w-100 text-center">&mdash; 佩戴/取下/丢弃 &mdash;</p>

<div class="social d-flex text-center">

    {% if item.state == 'backpack' %}
    <a class="px-2 py-2 mr-md-1 rounded" href="/home/item/?f=wear&item={{ item.iid }}">佩戴</a>
    {% endif %}

    {% if item.state == 'wear' %}
    <a class="px-2 py-2 mr-md-1 rounded" href="/home/item/?f=backpack&item={{ item.iid }}">取下</a>
    {% endif %}

    {% if again %}

        <a class="px-2 py-2 mr-md-1 rounded" href="#" onclick="dropandhunt('{{ item.iid }}')">丢弃并再寻一次</a>

        <script type="text/javascript">
            function dropandhunt(iid) {
              $.ajax({
                url: '/home/item/',
                type: 'GET',
                data: {
                  'f': "drop",
                  'item': iid,
                },
                // 这里重新hunt
                success: function () {
                  window.location.reload();
                }
              });
            }
          </script>

    {% else %}

        {% if item.state == 'backpack' %}
        <a class="px-2 py-2 mr-md-1 rounded" href="/home/item/?f=drop&item={{ item.iid }}">丢弃</a>
        {% endif %}

    {% endif %}

</div>

{% endblock %}